extends layout

// The home page that provides a simple chat interface.

block content
  #main-chat.chat
    ul.display
    .chat-input
      form(method='POST', action='/message')
        input(type='text', name='message')
        input(type='submit', value='Yarr!')
        input(type='hidden', name='_csrf', value=csrfToken)

block extraScripts
  // Underscore templates!
  script(type='text/html', id='_t-message-body')
    li
      .author
        |  <% if (author) { %>
        |     <%= author %>
        |  <% } else {  %>
        em.unknown-author Unknown
        | <% } %>

      .msg <%= messageText %>

