- var actualTitle = (typeof title === 'undefined') ? NAME : NAME + ' - ' + title
- var requireMain = (typeof requireMain === 'undefined') ? 'home' : requireMain
!!!
html
  head
    title= actualTitle
    script(src='//cdnjs.cloudflare.com/ajax/libs/require-jquery/0.25.0/require-jquery.min.js',
      data-main='/js/' + requireMain)
    block extraScripts
  body
    header
      h1.logo #{NAME}

    #content
      block content

